.form-div {
    display: flex;
    color: white;
    justify-content: center;
}

.form-group-aline {
    border: 1px solid black;
    margin-top: 50px;
    display: inline-block;
}

.inline-container {
    width: 859px;
}

.form-group-aline .inline-container input {
    padding: 5px 5px;
    width: 760px;
}

body {
    background-color: lightslategray;
}

.container {
    width: 800px;
    height: 650px;
    /* background-color: #4e5052; */
    background-color: #222222;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.form-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}

.form-div {
    display: flex;
    justify-content: center;
}

.form-group-inline {
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
}

.form {
    margin-top: -40px;
    width: 100%;
}

.form-group-block {
    margin-left: 82px;
    margin-top: 20px;
}

.block-container label {
    display: block;
    width: 650px;
    margin-bottom: 3px;
    margin-top: 20px;
}

.form-group-block .block-container input {
    padding: 5px 5px;
    width: 89%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.button-container button {
    padding: 10px 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-bottom: -10px;
}

.button-container button:disabled {
    background-color: grey;
}

.errorMessage {
    font-size: 16px;
    color: red;
}

.copyright {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.termsofservice,
.privacypolicy,
.signIn {
    color: red;
}

.termsofservice:hover {
    color: goldenrod;
}

.privacypolicy:hover {
    color: goldenrod;
}

.signIn:hover {
    color: goldenrod;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75px;
}